body{
    background-size: cover;
}

.w-50{
    width: 50%;
}





.sep{
    width: 60%;
}

.but{
    width: 10%; text-align: right
}





.white{
    background: white
}
.w-5{
    width: 5%;
}

.w-30{
    width: 30%;
}

.w-55{
 width: 55%;
}



.left{
    text-align: left;
}

.w-10{
    width: 10%;
}

.w-15{
    width: 15%;
}
.w-20{
    width: 20%;
}

.right{
    text-align: right;
}







.pt{
    padding-top: 4px;
    border-radius: 3px;
    border: 1px solid ;
}
.mt-0{
    margin-top: 5px;
}
.mt-1{
    margin-top: 18px;
}

.mt-3{
    margin-top: 3%;
}








.hide {
    display: none;
}

a{
    text-decoration: none  ;
}

.pr-3{
    padding-right: 3%;
}